<h1>Welcome to the TCG pokémon App!</h1>

<div class="glass-card">
  <h2>Bon retour</h2>
  <p>Connecte-toi a ton compte</p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label>Adresse email</label>
      <input type="email" formControlName="email" placeholder="toi@exemple.com" />
      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched)
      {
        <span>Email invalide</span>
      }
    </div>

    <div class="field">
      <label>Mot de passe</label>
      <input type="password" formControlName="password" placeholder="********" />
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
    <a routerLink="/register">Creer un compte</a>
  </form>
</div>
