<div class="set-detail">
  @if (isLoading()) {
    <p>Chargement...</p>
  } @else if (error()) {
    <p class="error">{{ error() }}</p>
  } @else if (set(); as currentSet) {

  <section class="sets-page">
      @if (currentSet.logo) {
        <img [src]="getSetLogoUrl(currentSet.logo)" [alt]="currentSet.name" class="set-logo" />
      }
      <div class="set-info">
        <h1>
          @if (currentSet.symbol) {
            <img [src]="getSetSymbolUrl(currentSet.symbol)" [alt]="currentSet.name" class="set-symbol" />
          }
          {{ currentSet.name }}
        </h1>
        <p>{{ currentSet.cardCountOfficial }} cartes officielles </p>
        <p>{{ currentSet.cardCountOfficial }} cartes globales 
        </p>
      </div>
    </section>

    <section class="cards-grid">
      @for (card of filteredCards(); track card.id) {
        <div class="card-item">
          <a class="set-card" [routerLink]="['/card', card.id]">
              @if (card.image) {
            <img [src]="getCardImageUrl(card.image)" [alt]="card.name" loading="lazy" />
          }
          <p class="card-name">{{ card.name }}</p>
          <p class="card-localid">#{{ card.localId }}</p>
          </a>
        </div>
      }
    </section>

    @if (filteredCards().length === 0) {
      <p class="state-message">Aucune carte trouvée.</p>
    }
  }
</div>