<div class="set-detail">
  @if (isLoading()) {
    <div class="state-message">
      <div class="spinner"></div>
      <p>Chargement...</p>
    </div>
  } @else if (error()) {
    <div class="state-message error">
      <p>{{ error() }}</p>
    </div>
  } @else if (card(); as currentCard) {

    <section class="card-detail">
      <div class="card-visual">
        @if (currentCard.image) {
          <img
            [src]="getCardImageUrl(currentCard.image)"
            [alt]="currentCard.name"
            class="card-image"
          />
        } @else {
          <div class="card-image placeholder">
            <span>Pas d'image</span>
          </div>
        }

        <span
          class="collection-badge"
          [class.in-collection]="(currentCard?.collections?.length ?? 0) > 0"
        >
          @if ((currentCard?.collections?.length ?? 0) > 0) {
            ✓ Dans la collection
          } @else {
            Non collectionnée
          }
        </span>
      </div>

      <div class="card-info">
        <h1>{{ currentCard.name }}</h1>

        <dl class="card-meta">
          <div class="meta-row">
            <dt>Numéro</dt>
            <dd>#{{ currentCard.localId }}</dd>
          </div>
        </dl>
        <dl class="card-meta">
          <div class="meta-row">
            <dt>nombre de doublons</dt>
            <dd>{{ (currentCard?.collections?.length ?? 0) }}</dd>
          </div>
        </dl>
      </div>
    </section>
  }
</div>
