<section class="sets-page">

  @if (isLoading()) {
    <p class="state-message">Chargement des sets...</p>
  }

  @if (!isLoading() && sets().length === 0) {
    <p class="state-message">Aucun set trouvé.</p>
  }

  <div class="sets-grid">
    @for (set of sets(); track set.id) {
      <a class="set-card" [routerLink]="['/set', set.id]">
        <article class="set-card-content">
          <div class="set-images">
            @if (set.logo) {
              <img class="set-logo" [src]="getSetLogoUrl(set.logo)" [alt]="set.name" />
            }

            @if (set.symbol) {
              <img class="set-symbol" [src]="getSetSymbolUrl(set.symbol)" [alt]="'Symbole ' + set.name" />
            }
          </div>

          <div class="set-content">
            <h3>{{ set.name }}</h3>
            <p>{{ set.cardCountOfficial }} cartes officielles</p>
            <p>{{ set.cardCountTotal }} cartes au total</p>
          </div>
        </article>
      </a>
    }
  </div>
</section>